<%-include ('static/header2.ejs');-%>

<div class="intro-section" style="background-image:url(xhero_1.jpg.pagespeed.ic.HtRckp66fB.webp)">
<div class="container">
<div class="row align-items-center justify-content-center">
<div class="col-md-7 mx-auto text-center" data-aos="fade-up">
<h1>Buy, Sell, Bid</h1>
<p>An Auction Win is Not a Sin. Are You Ready To Sell?.</p>

</div>
</div>
</div>
</div>

<div class="site-section">
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="side-box mb-5">
<h3>Categories</h3>
<ul class="list-unstyled auction-categories">
<li><a href="#">Shoes <span>2109</span></a></li>
<li><a href="#">Electronics <span>102</span></a></li>
<li><a href="#">Clothing <span>392</span></a></li>
<li><a href="#">Watches <span>291</span></a></li>
<li><a href="#">Accessories <span>391</span></a></li>
</ul>
</div>
<div class="side-box">
<h3>Recent Bidders</h3>
<ul class="list-unstyled bidders">
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">1.</span>
<div class="d-flex align-items-center">
<img src="xperson_1.jpg.pagespeed.ic.l5rAz42qpM.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="3630964158" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Jean Smith</span>
</div>
</div>
<span class="price">$40</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">2.</span>
<div class="d-flex align-items-center">
<img src="xperson_2.jpg.pagespeed.ic.ZCKS1e4Izq.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="3925464079" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Chris Wilson</span>
</div>
</div>
<span class="price">$87</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">3.</span>
<div class="d-flex align-items-center">
<img src="xperson_3.jpg.pagespeed.ic.JjUOiYZeEX.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="4219964000" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Kyle Anderson</span>
</div>
</div>
<span class="price">$310</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">1.</span>
<div class="d-flex align-items-center">
<img src="xperson_1.jpg.pagespeed.ic.l5rAz42qpM.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="3630964158" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Jean Smith</span>
</div>
</div>
<span class="price">$40</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">2.</span>
<div class="d-flex align-items-center">
<img src="xperson_2.jpg.pagespeed.ic.ZCKS1e4Izq.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="3925464079" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Chris Wilson</span>
</div>
</div>
<span class="price">$87</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">3.</span>
<div class="d-flex align-items-center">
<img src="xperson_3.jpg.pagespeed.ic.JjUOiYZeEX.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="4219964000" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Kyle Anderson</span>
</div>
</div>
<span class="price">$310</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">1.</span>
<div class="d-flex align-items-center">
<img src="xperson_1.jpg.pagespeed.ic.l5rAz42qpM.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="3630964158" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Jean Smith</span>
</div>
</div>
<span class="price">$40</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">2.</span>
<div class="d-flex align-items-center">
<img src="xperson_2.jpg.pagespeed.ic.ZCKS1e4Izq.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="3925464079" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Chris Wilson</span>
</div>
</div>
<span class="price">$87</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">3.</span>
<div class="d-flex align-items-center">
<img src="xperson_3.jpg.pagespeed.ic.JjUOiYZeEX.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="4219964000" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Kyle Anderson</span>
</div>
</div>
<span class="price">$310</span>
</li>
<li class="d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
<span class="mr-2">2.</span>
<div class="d-flex align-items-center">
<img src="xperson_2.jpg.pagespeed.ic.ZCKS1e4Izq.webp" alt="Image" class="mr-2" data-pagespeed-url-hash="3925464079" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
<span>Chris Wilson</span>
</div>
</div>
<span class="price">$87</span>
</li>
</ul>
</div>
</div>
<div class="col-md-9">
<div class="row auctions-entry">
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$95</strong>
<a href="item-single.html"><img src="xproduct_1.jpg.pagespeed.ic.jv58llKnOW.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="3615733728" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">Pinky Shoes</a></h3>
<div class="d-flex mb-2">
<span>Shoes</span>
<span class="ml-auto">4 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$30</strong>
<a href="item-single.html"><img src="xproduct_2.jpg.pagespeed.ic.zYGt4XwKL2.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="3910233649" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">Eye Glass Eye Protector</a></h3>
<div class="d-flex mb-2">
<span>Eye Glasses</span>
<span class="ml-auto">10 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$199</strong>
<a href="item-single.html"><img src="xproduct_3.jpg.pagespeed.ic.2g0ICPmV6O.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="4204733570" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">Black Leather Jacket</a></h3>
<div class="d-flex mb-2">
<span>Clothing</span>
<span class="ml-auto">24 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$1,999</strong>
<a href="item-single.html"><img src="xproduct_4.jpg.pagespeed.ic.nXVsO01FP9.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="204266195" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">MacBook 15-Inch Laptop</a></h3>
<div class="d-flex mb-2">
<span>Clothing</span>
<span class="ml-auto">224 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$777</strong>
<a href="item-single.html"><img src="xproduct_5.jpg.pagespeed.ic.96U3mkydkB.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="498766116" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">iPad</a></h3>
<div class="d-flex mb-2">
<span>Electronics</span>
<span class="ml-auto">11 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$78</strong>
<a href="item-single.html"><img src="xproduct_6.jpg.pagespeed.ic.o7nMT9VPXJ.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="793266037" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">Shoe Sneakers</a></h3>
<div class="d-flex mb-2">
<span>Shoes</span>
<span class="ml-auto">4 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$1,999</strong>
<a href="item-single.html"><img src="xproduct_7.jpg.pagespeed.ic.k1dM1LPDeN.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="1087765958" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">iMac</a></h3>
<div class="d-flex mb-2">
<span>Electronics</span>
<span class="ml-auto">293 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$450</strong>
<a href="item-single.html"><img src="xproduct_8.jpg.pagespeed.ic._zi5TVQkpp.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="1382265879" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">iWatch</a></h3>
<div class="d-flex mb-2">
<span>Electronics</span>
<span class="ml-auto">123 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
<div class="col-6 col-md-4 col-lg-4">
<div class="item">
<div>
<strong class="price">$30</strong>
<a href="item-single.html"><img src="xproduct_2.jpg.pagespeed.ic.zYGt4XwKL2.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="3910233649" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<div class="p-4">
<h3><a href="item-single.html">Eye Glass Eye Protector</a></h3>
<div class="d-flex mb-2">
<span>Eye Glasses</span>
<span class="ml-auto">10 bids</span>
</div>
<a href="item-single.html" class="btn btn-bid">Submit a Bid</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="pb-5">
<div class="container text-center">
<div class="row">
<div class="col-lg">
<div class="custom-pagination">
<a href="#" class="active">1</a>
<a href="#">2</a>
<a href="#">3</a>
<a href="#">4</a>
<a href="#">5</a>
</div>
</div>
</div>
</div>
</div>
<div class="site-section pt-0">
<div class="container">
<div class="row">
<div class="col-lg-7 mb-5">
<span class="caption">How?</span>
<h2 class="text-black">How <strong>It Works</strong></h2>
</div>
</div>
<div class="row">
<div class="col-lg-3">
<div class="step">
<span class="wrap-icon icon-user"></span>
<h3>Register</h3>
<p>Register and you can bid and host auction.</p>
</div>
</div>
<div class="col-lg-3">
<div class="step">
<span class="wrap-icon icon-money"></span>
<h3>Buy or Bid</h3>
<p>You can bid anytime, anywhere.</p>
</div>
</div>
<div class="col-lg-3">
<div class="step">
<span class="wrap-icon icon-glass"></span>
<h3>Submit a bid</h3>
<p>bid and counterbid to win.</p>
</div>
</div>
<div class="col-lg-3">
<div class="step last">
<span class="wrap-icon icon-trophy"></span>
<h3>Win</h3>
<p>person with highest bid will win</p>
</div>
</div>
</div>
</div>
</div>

<div class="footer">
<div class="container">
<div class="row">
<div class="col-lg-3">
<p class="mb-4"><img src="images/xlogo_footer.png.pagespeed.ic.7bXlmbsDvP.webp" alt="Image" class="img-fluid" data-pagespeed-url-hash="3368299270" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></p>
<p>Life is Full of Auction. Host and manage the auction with ease and secure</p>
<p><a href="#">Learn More</a></p>
</div>
<div class="col-lg-3">
<h3 class="footer-heading"><span>Solutions</span></h3>
<ul class="list-unstyled">
<li><a href="#">Register</a></li>
<li><a href="#">Login</a></li>
<li><a href="#">Buy</a></li>
<li><a href="#">Sell</a></li>
<li><a href="#">Submit a bid</a></li>
</ul>
</div>
<div class="col-lg-3">
<h3 class="footer-heading"><span>Services</span></h3>
<ul class="list-unstyled">
<li><a href="#">Register</a></li>
<li><a href="#">Login</a></li>
<li><a href="#">Buy</a></li>
<li><a href="#">Sell</a></li>
<li><a href="#">Submit a bid</a></li>
</ul>
</div>
<div class="col-lg-3">
<h3 class="footer-heading"><span>Contact</span></h3>
<ul class="list-unstyled">
<li><a href="#">Help Center</a></li>
<li><a href="#">Support Community</a></li>
<li><a href="#">Press</a></li>
<li><a href="#">Share Your Story</a></li>
<li><a href="#">Our Supporters</a></li>
</ul>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="copyright">
<p>



</p>
</div>
</div>
</div>
</div>
</div>
</div>


<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78" /></svg></div>
<script src="javascripts/jquery-3.3.1.min.js"></script>
<script src="javascripts/jquery-migrate-3.0.1.min.js+jquery-ui.js+popper.min.js"></script><script>eval(mod_pagespeed_JfhYxYutIH);</script>
<script>eval(mod_pagespeed_IgDd0O$ZVg);</script>
<script>eval(mod_pagespeed_2T3V0sF8GL);</script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/owl.carousel.min.js+jquery.stellar.min.js+jquery.countdown.min.js"></script><script>eval(mod_pagespeed_ZRNFPkp0UU);</script>
<script>eval(mod_pagespeed_ucnmasD6$j);</script>
<script>eval(mod_pagespeed_zR_JbC_SPM);</script>
<script src="javascripts/bootstrap-datepicker.min.js+jquery.easing.1.3.js+aos.js"></script><script>eval(mod_pagespeed_fvex8DGfkk);</script>
<script>eval(mod_pagespeed_zLe_L7r9eD);</script>
<script>eval(mod_pagespeed_K3M0IYF4OF);</script>
<script src="javascripts/jquery.fancybox.min.js+jquery.sticky.js"></script><script>eval(mod_pagespeed_i28Olh_MpN);</script>
<script>eval(mod_pagespeed_hajh$5AxkE);</script>
<script src="javascripts/jquery.mb.YTPlayer.min.js+main.js.pagespeed.jc.B6Ri8KVDLk.js"></script><script>eval(mod_pagespeed_IZ6X95zc$f);</script>
<script>eval(mod_pagespeed_5j61liNo8Z);</script>
<script defer src="javascripts/jss.js" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6ff7ec3759b21d8d","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>